name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Show Rust toolchain
        run: |
          rustc -Vv
          cargo -V

      - name: Build (default host toolchain)
        run: cargo build --verbose --target x86_64-unknown-linux-gnu

      - name: Test (default host toolchain)
        run: cargo test --verbose --target x86_64-unknown-linux-gnu
